:root {
  --base-color: #da7e05;
  --base-background: rgb(34, 34, 34);
  --info-background: rgb(47, 47, 47);
  --base-font-family: "titillium_webregular", "Arial";
}

@font-face {
  font-family: "titillium_webregular";
  src: url("fonts/titilliumweb-regular-webfont.woff2") format("woff2"),
    url("fonts/titilliumweb-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--base-background);
  font-family: var(--base-font-family);
}

.stat-button {
  background-color: var(--base-color);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: var(--base-font-family);
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
}

.stat-button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.main-container {
  background: var(--info-background);
  display: flex;
  flex-flow: row wrap;
  width: 90vw;
  height: 80vh;
  position: relative;
  left: 5vw;
}

.info {
  position: relative;
  flex: 4;
}

.button-container {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  vertical-align: middle;
}

#navbar {
  height: 10vh;
  width: 90vw;
  position: relative;
  left: 5vw;
  font-size: 2rem;
  background-color: var(--base-color);
  text-align: center;
}

#name {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

svg {
  color: var(--base-color);
}

#tooltip {
  display: none;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  white-space: pre-wrap;
}

.x-axis text {
  display: none;
}